.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

/*.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

/*PRODUCTS*/
.bottomCost{
  position:absolute;                  
  bottom:0;                          
  right:0;
}

.bottomCost h3{
  padding-right: 15px;
}

.hide{
  display: block;
}

#product{
  margin-top: 50px;
}

#rowProductName{
  margin-bottom: 20px;    
}

#rowProductCost h1{
  font-weight: lighter;
  font-size:200%;  
  margin-top: 15px;
}

/*PRODUCT-INFO*/
#rowBuyButton{
  position:absolute;
  bottom:0;
}

#buyProductButton{
  background-color: #D23755;
  border-color: #D23755;
  width: 250px;
}

/*PRODUCT-INFO: Score promedio*/
#product-average-score{
  font-size: 64px;
    
}

#product-average{
  margin-top: 20px;
}

/*PRODUCT-INFO: Rating, comentarios de usuario*/

/*estilos para las estrellas  de los comentarios y average*/

span.fa-star{
  color: #444;
}

span.static-star{  
 color: rgb(255, 133, 34);
}

span.static-star-max{
  color:#FE7;
  /*text-shadow: 0 0 20px #952;*/
}

span.static-star-1{
  color: rgb(255, 52, 34);
}

/*estilos para funcionalidad de rating de estrellas y comentario*/
.cont{
  width: 93%;
  max-width: 350px;
  text-align: center; 
  padding: 10px;
 /* color: #EEE;
  border-radius: 5px;
  border-color: black;
  border: thin solid #444;*/
  overflow: hidden;
}

a.text-info,a.text-info:focus,a.text-info:hover{
  color: #D23755 !important;
}

div.stars{
  width: 270px;
  display: inline-block;
}

input.star{
  display: none;
}

label.fa-star {
  float: right;
  padding: 10px;
  font-size: 30px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.fa-star:before {  
  color: rgb(255, 133, 34);
  transition: all .25s;
}

input.star-max:checked ~ label.fa-star:before {
  color:#FE7;
 /* text-shadow: 0 0 20px #952;  */
}

input.star-1:checked ~ label.fa-star:before {
  color: rgb(255, 52, 34);
}

label.fa-star:hover{
  transform: rotate(-15deg) scale(1.3);
}

label.fa-star:before{
  content:'\f005';
  font-family: Font Awesome 5 Free;
}

.rev-box{
  overflow: hidden;
  width: 100%;
  height: 0;
  max-height: 0px;
	transition-property: all;
	transition-duration: 1.2s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

textarea.review{
  border: thin solid #444;
  border-radius: .25rem;
  width: 100%;
  max-width: 100%;
  height: 200px;
  max-height: 160px;
  padding: 10px;
  box-sizing: border-box;
  color:black;
  resize: none;
}

#add-comment-btn{
  background-color:#D23755 ;
  border-color: #D23755;
  max-height: 50px;  
}

input.star:checked ~ .rev-box{
  height: 220px;
  max-height: 220px;
}

/*Estilos para comentarios del producto*/
#latest-comments{
  margin-top: .5rem;
}

#latest-comments .user-comment{
  margin-left: 15px;
}

/*USUARIO*/

#currentUserDropdown{
  color: white;
}

.dropdown-menu{
  padding: 0;
}

.dropdown-item:hover,.dropdown-item:hover:focus{
  background-color:#D23755;
  color: white !important;
  outline: none;
}
.dropdown-item{
  padding: 13px;  
}

#currentUserDropdownBtn.dropdown-toggle:focus{
  outline: none !important;
  box-shadow: none;
}

#currentUserDropdownBtn.dropdown-toggle:hover{
  background-color:#ff6987;
  transition: 0.3s;
}

#currentUserDropdownBtn.dropdown-toggle{
  background-color:#D23755;
  color: white;
  border-color: #D23755; 
  opacity: 1;
}

  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }

@keyframes slideIn {
  from {top: 8rem;
  opacity: 0}  
  to {top: 0.1rem;
  opacity: 1;}
}

@-webkit-keyframes slideIn {
  from {top: 8rem;
    opacity: 0}  
    to {top: 0.1rem;
    opacity: 1;}
  }

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/*CARRITO*/

.img-thumbnail{  
  max-width:80%;
  height:auto;
}

.prodCant{
width: 40%;
}

.currency-dropdown-item:hover, .currency-dropdown-item:hover:focus{
  background-color: #6c757d;
  color: white !important;
  outline: none

}

.table thead th {
  vertical-align: bottom;
  border-bottom: none !important;
}

.rounded {
  border-radius: 1rem
}

.nav-pills .nav-link {
  color: #555
}

.nav-pills .nav-link.active {
  background-color:#D23755 ;
  color: white;
}

.error{
  border-color: red;
}

.errorMessage{
  color: red;
  font-size: small;
}

#btnCerrar:focus{
  outline: none;
}

.btnDefault, .btnDefault:active, .btnDefault:hover,.btnDefault:focus{
  background-color:#D23755 !important;
  border-color: #D23755 !important; 
  color: white !important;
}

#btnPagar{
  width: 100px;
  height: 50px;
}

/*COLORES PARA TARJETAS DE CREDITO (fontAwesome)*/

  .fa-cc-amex {
    color: #007bc1;
  }
  .fa-cc-diners-club {
    color:  #004A97;
  }
  .fa-cc-discover {
    color:  #f68121;
  }
  .fa-cc-jcb {
    color: #003A8F;
  }
  .fa-cc-mastercard {
    color: #0a3a82;
  }
  .fa-cc-visa {
    color: #0157a2;
  }
